.title {
  color: #000;
  text-align: center;
  font-family: Licorice;
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.gift-text {
  color: #1d1d1d;
  text-align: center;
  font-family: Julius Sans One;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.8px;
}

.copiado-text {
  font-family: Julius Sans One;
  font-size: 24px;
  color: #000;
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
  bottom: 0px; /* Adjust as needed */
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

@media (max-width: 640px) {
  .title {
    font-size: 60px; /* Adjust as necessary */
  }
  .gift-text {
    font-size: 24px; /* Adjust as necessary */
  }

  .copiado-text {
    font-size: 12px;
  }
}
