.description {
  color: #1d1d1d;
  text-align: center;
  font-family: Julius Sans One;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.8px;
}

.title {
  color: #000;
  text-align: center;
  font-family: Licorice;
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.information {
  color: #1d1d1d;
  text-align: center;
  font-family: Julius Sans One;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.8px;
}

.custom-font {
  font-family: Julius Sans One;
}

.postdata {
  color: #1d1d1d;
  font-family: Julius Sans One;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
}

.instagram {
  text-align: center;
  font-family: Licorice;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 640px) {
  .description {
    font-size: 20px; /* Adjust as necessary */
    letter-spacing: 1.5px;
  }

  .instagram {
    letter-spacing: 1.5px;
  }
}

/* Mobile styles */
@media (max-width: 640px) {
  .title {
    font-size: 60px; /* Adjust as necessary */
  }
  .postdata {
    font-size: 12px;
  }
  .information {
    font-size: 16px; /* Adjust as necessary */
  }
  svg {
    width: 50px !important;
  }

  .scrolldownIcon {
    top: 87% !important;
  }

  .attendence-option {
    font-size: 14px;
  }

  .photo-desc {
    font-size: 10px;
  }

  .food-rest {
    font-size: 14px;
  }

  .guest-name {
    font-size: 20px;
  }
}

#loading-indicator {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f6f3eb;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  font-family: cursive;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.dot {
  animation-name: fade;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
}

.dot1 {
  animation-delay: 0.2s;
}

.dot2 {
  animation-delay: 0.4s;
}

.dot3 {
  animation-delay: 0.6s;
}
