<div class="flex flex-col items-center">
  <p class="title">Cuándo y dónde?</p>
  <app-division></app-division>
  <div class="flex flex-row items-center gap-5">
    <p class="subtitle">04 NOV 2023</p>
    <img class="icon" src="assets/EngagementCalendarDate.png" />
  </div>
  <div
    class="grid grid-cols-3 gap-x-10 items-stretch mt-5"
    style="grid-template-columns: 1fr auto 1fr"
  >
    <div class="flex flex-col gap-y-16 w-full items-end">
      <div class="flex items-center gap-2 h-[calc(100%/3)]" *ngIf="isDinner">
        <img class="icon" src="assets/WeddingCoupleBrideGroom.png" />
        <p class="time-item">18 HS</p>
      </div>
      <div class="flex items-center gap-2 h-[calc(100%/3)] mt-12 md:mt-0">
        <img class="icon" src="assets/PartyMusicDanceWoman.png" />
        <p class="time-item" *ngIf="isDinner">20 HS</p>
        <p class="time-item" *ngIf="!isDinner">00:45 HS</p>
      </div>
      <div class="flex items-center gap-2 h-[calc(100%/3)] mt-10 md:mt-0">
        <img class="icon" src="assets/MedicalConditionCough.png" />
        <p class="time-item">05 HS</p>
      </div>
    </div>
    <div class="flex justify-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="4"
        height="381"
        viewBox="0 0 4 381"
        fill="none"
      >
        <path d="M2 0V381" stroke="#1D1D1D" stroke-width="4" />
      </svg>
    </div>
    <div class="flex flex-col gap-y-16 w-full">
      <div
        class="flex flex-col justify-center h-[calc(100%/3)]"
        *ngIf="isDinner"
      >
        <p class="time-item">parroquia inmaculado corazón de maría</p>
        <div class="flex flex-row items-center">
          <p class="time-item">Viamonte 1585</p>
          <a href="https://goo.gl/maps/SmkHaw8qDhQvVZFs9" target="_blank">
            <img class="icon cursor-pointer" src="assets/PinLocation.png" />
          </a>
          <app-clickable-animation></app-clickable-animation>
        </div>
        <p class="time-item">rosario</p>
      </div>
      <div class="flex flex-col justify-center h-[calc(100%/3)]">
        <p class="time-item">altos del ludueña</p>
        <div class="flex flex-row items-center">
          <p class="time-item">ruta 9, garita 1</p>
          <a href="https://goo.gl/maps/34komEFPPXnTmhQw9" target="_blank">
            <img class="icon cursor-pointer" src="assets/PinLocation.png" />
          </a>
          <app-clickable-animation></app-clickable-animation>
        </div>
        <p class="time-item">funes</p>
      </div>
      <div class="flex flex-col justify-center h-[calc(100%/3)]">
        <p class="time-item">no nos hacemos cargo</p>
      </div>
    </div>
  </div>
</div>
