.title {
  color: #000;
  text-align: center;
  font-family: Licorice;
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.information {
  color: #1d1d1d;
  text-align: center;
  font-family: Julius Sans One;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.8px;
}

.form-attendence {
  background: rgba(232, 217, 200, 0.5);
}

.guest-name {
  color: #000;
  text-align: center;
  font-family: Julius Sans One;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
}

.attendence-option {
  color: #000;
  text-align: center;
  font-family: Julius Sans One;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
}

.food-rest {
  color: #000;
  text-align: center;
  font-family: Julius Sans One;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
}

.attendance-button {
  background: #f6f3eb;
}

.attendance-button-text {
  color: #000;
  text-align: center;
  font-family: Julius Sans One;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
  user-select: none;
}

.custom-font {
  font-family: Julius Sans One;
}

.information span {
  display: inline-block;
}

/* CSS */
.fireworks-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.firework {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #f00; /* Firework color */
  border-radius: 50%;
  animation: explode 1s ease-out;
}

@keyframes explode {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(5);
    opacity: 0;
  }
}

/* Mobile styles */
@media (max-width: 640px) {
  .title {
    font-size: 60px; /* Adjust as necessary */
  }
  .information {
    font-size: 20px; /* Adjust as necessary */
  }
  svg {
    width: 100px !important;
  }

  .scrolldownIcon {
    top: 92% !important;
  }

  .guest-name {
    font-size: 20px;
  }

  .attendence-option {
    font-size: 14px;
  }

  .food-rest {
    font-size: 14px;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.dot {
  animation-name: fade;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
}

.dot1 {
  animation-delay: 0.2s;
}

.dot2 {
  animation-delay: 0.4s;
}

.dot3 {
  animation-delay: 0.6s;
}
